body{
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.matchingStart{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 30%;
    height: 50px;
    background-color:#ffffff;
    border-color: #00f7ff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

h1{
    font-size: 1.8rem;
    color: #1c1e21;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #00f7ff;   
}

#win{
    color: red;
}


#scoreboard{
    text-align: center;
    margin-top: 150px;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 6px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.matchingStart:hover{
    background-color: #f0f2f5;
    color: black;
}

.chart-container {
    width: 600px;
    margin: 50px auto; 
}

