<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="js/screenmove.js" defer></script>
</head>
<body>
    <div id="container">
        <div id="registerForm" style="display: block;">
            <h1>アカウント登録画面</h1>
            <p th:if="${error}" th:text="${error}" id="error-msg1" style="color: red; font-size: 20px;"></p>
            <form action="/register-process" method="post">
            <label for="username">ユーザ名</label><br>
            <input type="text" name="username" class="username" placeholder="ユーザ名"><br>

            <label for="password">パスワード</label><br>
            <input type="password" name="password" id="password" placeholder="パスワード"><br>

            <button type="submit" class="start">アカウント登録</button><br>

            既にアカウントお持ちの方は<button type="button" id="loginButton">ログインへ</button>
            </form>
        </div>

        <div id="loginForm" style="display: none;">
            <h1>ログイン</h1>
            <p th:if="${error}" th:text="${error}" id="error-msg2" style="color: red; font-size: 20px;"></p>
            <form action="/login-process" method="post">
            <label for="username" >ユーザ名</label><br>
            <input type="text" name="username" class="username" placeholder="ユーザ名"><br>
        
            <label for="password">パスワード</label><br>
            <input type="password" name="password" class="password" placeholder="パスワード"><br>
        
           <button type="submit" class="start">ログイン</button><br>
            
            アカウントお持ちでない方は<button type="button" id="registerButton">新規登録へ</button>
            </form>
        </div>
    </div>
</body>
</html>