<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ルール</title>
    <link rel="stylesheet" href="css/rule.css">
    <script src="js/screenmove.js" defer></script>
</head>
<body>
    <a th:href="@{start}">
    <button class="matchingStart">スタート画面に戻る</button>
    </a>
    <div id="rule">
     <h1>ルール説明</h1>
    <div class="rule-content">
            <h2>【基本ルール】</h2>
            <ul>
                <li>このゲームはモノポリー型の「大学生単位取得ゲーム」です。</li>
                <li>サイコロを振って、出た目の数だけ進みます。</li>
                <li>一周したら25単位もらえます</li>
                <li>4人対戦のゲームです。</li>
                <li>誰かが124単位を取得したときゲームが終了します。</li>
                <li></li>
            </ul>

            <h2>【アイテム・イベントについて】</h2>
            <ul>
                <li>特定のマスに止まるとイベントが発生します。</li>
                <li>単位が増えたり減ったりします。</li>
                <li>「1マス進む」というマスもありますが、「1回休み」や「1マス戻る」などのトラップに注意してください。</li>
            </ul>

            <p>
                最後まで諦めずに卒業を目指しましょう！
            </p>
     
    </div>
</body>
</html>