body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); 
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 70%;
    height: 50%;
    border-radius: 6px;
}

#logout{
    display: flex;
  align-items: center; 
  justify-content: center; 
    position: absolute;
    font-size: 16px;
    top: 100px;
    right: 10px;
    width: 30%;
    height: 50px;
    border-color: #000000;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#matching{
    background-color:#0370ff;
    color: black;
    margin: 10px 20px;
    width: 75%;
    height: 100px;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#rule,#score{
    background-color:#ffffff;
    border-color: #00f7ff;
    margin: 10px 20px;
    width: 50%;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#rule:hover,#score:hover,#logout:hover{
    background-color: #a0c3f8;
    transform: translateY(-5px);
}

#matching:hover{
    background-color: #519bfd;
    transform: translateY(-5px);
}
