body{
    margin: 0;
    background-color: red;
    text-align: center;
}

h1{
    text-align: center;
    margin-top:100px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    font-size: 20px;
}

th{
    border: 1px solid gray;
    padding: 10px;
    background-color: black;
    color: wheat;
}

td{
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(219, 218, 218);
}

div{
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    width: 60%;
}

#start{
    color: white;
    height: 40px;
    background-color: #1877f2;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

#start:hover{
    background-color: #07d9f5;
    color: black;
    transform: translateY(-5px);
}
