body {
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

#container {
    text-align: center;
    width: 50%;
}

#registerForm, #loginForm{ 
    border: solid,rgba(0,0,0,0.3);
    background-color: white;
    padding: 2rem 3rem;        
    border-radius: 8px;       
    justify-content: center; 
    align-items: center;          
    margin: auto;
}

label {
    display: block; 
    text-align: left; 
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box; 
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;              
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
}

#loginButton,#registerButton{
    width: 100px;
    margin: 10px;
    background-color: #1877f2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start:hover,#loginButton:hover,#registerButton:hover{
    transform: translateY(-5px);
}



