body{
    margin: 0;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-attachment: fixed;
    text-align: center;
    background-color: red;
}

h1{
    text-align: center;
    margin-top:100px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    font-size: 20px;
}

th{
    border: 1px solid gray;
    padding: 10px;
    background-color: black;
    color: wheat;
}

td{
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(219, 218, 218);
}

div{
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    width: 60%;
}

#home{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

#home:hover{
    transform: translateY(-5px);
}
