body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(#89f7fe 0%, #66a6ff 100%);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

div{
    border: 3px,solid,black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70%;
    height: 50%;
    border-radius: 6px;
}

.matchingStart{
    position: absolute;
    top: 100px;
    right: 20px;
    width: 30%;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.matchingStart:hover{
    transform: translateY(-5px);
}