body{
    background: linear-gradient(#89f7fe 0%, #66a6ff 100%);
    background-attachment: fixed;
}

.matchingStart{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 30%;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

h1{
    font-size: 1.8rem;
    color: #1c1e21;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #00f7ff;   
}


#scoreboard{
    text-align: center;
    margin-top: 150px;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.matchingStart:hover{
    transform: translateY(-5px);
}



